{% extends 'wrapper.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row" style="padding-top:50px;">
    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
<div class="col-sm-6 col-sm-offset-3">
<h3 class="text-center"><strong>Welcome! Please, fill in the registration form in order to create an account.</strong></h3>
<br>
<form action="" method="POST">{% csrf_token %}
	{{ form|crispy }}
	<input type="submit" class="btn btn-success" value='Registrate me'>
</form>
<br>
</div>
</div>
</div>
</div>
{% endblock content %}
